*{
    background-color:#1b2235;
}
body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background-color:#1b2235
}

header {
    background-color: #1b2235;
    color: white;
    padding: 8px 20px;
    border-bottom: 2px solid #F3D62E;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #1b2235;
  }

  .footer-logo img {
    height: 40px;
    background-color: #1b2235;
    border: 0;
    margin: 0;
  }

  .footer-menu {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    font-size: 1.1em;
    background-color: #1b2235;
    font-family: "Kodchasan", sans-serif;
    font-weight: 600;
    font-style: normal;

  }

  .footer-menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    background-color: #1b2235;
  }

  .footer-menu a:hover {
    text-decoration: underline;
    text-decoration: none;
    background-color: #1b2235;
  }

  @media (max-width: 600px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
      background-color: #1b2235;
    }

    .footer-menu {
      margin-top: 15px;
      justify-content: center;
      background-color: #1b2235;
    }
  }

  
.container {
      display: flex;
      justify-content: center;
      align-items: center;

    }
.titulo_form{
    display: flex;
    color: white;
    justify-content: center;
}
form {
    padding: 30px;
    border-radius: 8px;
    box-shadow:  yellow;
    width: 100%;
    max-width: 500px;
}
label {
    color: #F3D62E;
    display: block;
    margin-top: 15px;
}
input, textarea {
    background: none;
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 2px solid #F3D62E;
    border-radius: 10px;
    transition: none;
    outline: none;
    box-shadow: none;
    color: #F3D62E;
}

button {
    background-color: #FBE541;
    margin-top: 20px;
    padding: 10px 20px;
    width: 100%;
    border: none;
    border-radius: 15px;
}

button:hover {
    background-color: #0056b3 ;
}

.containerboxes{
  display: flex;
  padding: 4em;
  justify-content: center;
}
.boxum{
  display: flex;
  justify-content: center; 
  align-items: center;
  /* box-shadow: 1px 1px 20px 4px #a597488a; */
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
  border: 2px solid  #1b2235;
  height: 30rem;
}
.kodchasan-regular {
  font-family: "Kodchasan", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.texto{
  text-align: center;
  padding: 2em;
  color: aliceblue;
  font-size: 1.5rem;
}
.imgs_box{
  display: flex;
  justify-content: right;
  align-items: right;
  height: 28em;
  border-radius: 30px;
}

@media (max-width: 480px) {
    form {
    padding: 20px;
    }
    input, textarea {
    font-size: 16px;
    border: auto #222E50;
    }
    button {
    font-size: 16px;
    padding: 12px;
    }
}


